<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>DispatcherController</servlet-name>
        <servlet-class>uyennlp.controller.DispatcherController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>uyennlp.controller.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateAccountServlet</servlet-name>
        <servlet-class>uyennlp.controller.CreateAccountServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StartAppServlet</servlet-name>
        <servlet-class>uyennlp.controller.StartAppServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>uyennlp.controller.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchServlet</servlet-name>
        <servlet-class>uyennlp.controller.SearchServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteServlet</servlet-name>
        <servlet-class>uyennlp.controller.DeleteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateServlet</servlet-name>
        <servlet-class>uyennlp.controller.UpdateServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateQuestionServlet</servlet-name>
        <servlet-class>uyennlp.controller.CreateQuestionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TakeQuizServlet</servlet-name>
        <servlet-class>uyennlp.controller.TakeQuizServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewHistoryServlet</servlet-name>
        <servlet-class>uyennlp.controller.ViewHistoryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PrepareQuizServlet</servlet-name>
        <servlet-class>uyennlp.controller.PrepareQuizServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SubmitQuizServlet</servlet-name>
        <servlet-class>uyennlp.controller.SubmitQuizServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SaveAnswerServlet</servlet-name>
        <servlet-class>uyennlp.controller.SaveAnswerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateTimeServlet</servlet-name>
        <servlet-class>uyennlp.controller.UpdateTimeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewQuizHistoryServlet</servlet-name>
        <servlet-class>uyennlp.controller.ViewQuizHistoryServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DispatcherController</servlet-name>
        <url-pattern>/DispatcherController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateAccountServlet</servlet-name>
        <url-pattern>/CreateAccountServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StartAppServlet</servlet-name>
        <url-pattern>/StartAppServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/LogoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchServlet</servlet-name>
        <url-pattern>/SearchServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteServlet</servlet-name>
        <url-pattern>/DeleteServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateServlet</servlet-name>
        <url-pattern>/UpdateServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateQuestionServlet</servlet-name>
        <url-pattern>/CreateQuestionServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TakeQuizServlet</servlet-name>
        <url-pattern>/TakeQuizServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewHistoryServlet</servlet-name>
        <url-pattern>/ViewHistoryServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PrepareQuizServlet</servlet-name>
        <url-pattern>/PrepareQuizServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SubmitQuizServlet</servlet-name>
        <url-pattern>/SubmitQuizServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SaveAnswerServlet</servlet-name>
        <url-pattern>/SaveAnswerServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateTimeServlet</servlet-name>
        <url-pattern>/UpdateTimeServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewQuizHistoryServlet</servlet-name>
        <url-pattern>/ViewQuizHistoryServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>DispatcherController</welcome-file>
    </welcome-file-list>
</web-app>
